<nav-bar></nav-bar>

<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a ui-sref="movies">Movies</a></li>
        <li class="active">{{movie.id}}</li>
    </ol>
</div>

<div class="container">

<div>

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="javascript:;" data-target="#videos" data-toggle="tab">
                Videos
            </a>
        </li>
        <li>
            <a href="javascript:;" data-target="#images" data-toggle="tab">
                Images
            </a>
        </li>
        <li>
            <a href="javascript:;" data-target="#allFiles" data-toggle="tab">
                All files
            </a>
        </li>
    </ul>

    <div class="tab-content jamm-tab-content-border">
        <div role="tabpanel" class="tab-pane active" id="videos">
            <div class="xwell col-md-12 jamm-well-zero-bottom-margin">
                <video controls preload="auto" id="videoPlayer">
                    <source ng-src="{{movie.storage.videos[selectedVideoIndex].file}}"/>
                </video>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th><!-- Playing --></th>
                            <th>File</th>
                            <th>Resolution</th>
                            <th>Length</th>
                            <th>Size</th>
                        </tr>
                    </thead>
                    <tbody class="jamm-table-row">
                        <tr ng-repeat="video in movie.storage.videos track by video.file" ng-click="selectVideo($index)">
                            <td><span class="glyphicon glyphicon-play" ng-if="$index === selectedVideoIndex"></span></td>
                            <td>{{video.file}}</td>
                            <td>{{video.resolution}}</td>
                            <td>{{video.length}}</td>
                            <td>{{video.size}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix"/>
        </div>
        <div role="tabpanel" class="tab-pane" id="images">
            <div class="well col-md-12 jamm-well-zero-bottom-margin" jamm-photoswipe-gallery>
                <div class="text-center row">
                    <a href="javascript:;" jamm-photoswipe-image="{{movie.storage.cover}}"><img class="img-responsive" style="display: inline-block;" ng-src="{{movie.storage.cover}}"/></a>
                </div>
                
                <div class="jamm-vertical-spacer"/>

                <span ng-repeat="image in movie.storage.images track by image.file">
                    <a href="javascript:;" jamm-photoswipe-image="{{image.file}}"><img class="jamm-image-square-thumbnail" ng-src="{{image.file}}"/></a>
                </span>
            </div>
            <div class="clearfix"/>
        </div>
        <div role="tabpanel" class="tab-pane" id="allFiles">
        </div>
    </div>

    <div class="jamm-vertical-spacer"></div>

    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Information</h3></div>
        <div class="panel-body">
            <form class="form-horizontal">

                <div class="form-group">
                    <label class="col-sm-2 control-label">ID</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="movie.id"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="movie.name"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Actors</label>
                    <div class="col-sm-5">

                        <div ui-sortable ng-model="movie.actors">
                            <div class="input-group jamm-form-group" ng-repeat="actor in movie.actors track by $index">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-move"></span></div>
                                <input type="text" class="form-control" ng-model="movie.actors[$index]"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="movie.actors.splice($index, 1)"><span class="glyphicon glyphicon-remove"></span></button>
                                </span>
                            </div>
                        </div>

                        <div class="input-group jamm-form-group">
                            <input type="text" class="form-control" placeholder="add more..." ng-model="newActor"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-disabled="!newActor" ng-click="movie.actors.push(newActor); newActor = ''"><span class="glyphicon glyphicon-plus-sign"></span></button>
                            </span>
                        </div>

                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">Release date</label>
                    <div class="col-sm-3">
                        <date-time-picker ng-model="movie.releaseDate"></date-time-picker>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">Rating</label>
                    <div class="col-sm-8">
                        <span class="jamm-rating-large"><uib-rating ng-model="movie.rating" max="3"></uib-rating></span>
                    </div>
                </div>
                
                <div class="jamm-vertical-spacer"/>

                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-8">
                        <button class="btn btn-default btn-primary" ng-click="save()" ng-disabled="!isModified" type="button">
                            <span class="glyphicon glyphicon-ok"></span>
                            Save
                        </button>
                        <div class="jamm-btn-group-spacer"/>
                        <button class="btn btn-default" ng-click="discard()" ng-disabled="!isModified" type="button">
                            <span class="glyphicon glyphicon-remove"></span>
                            Discard
                        </button>
                        <div class="jamm-btn-group-spacer"/>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal" ng-disabled="!originalMovie" type="button">
                            <span class="glyphicon glyphicon-trash"></span>
                            Delete
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


<div class="modal fade" id="confirmDeleteModal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">Confirm delete</h4>
            </div>
            <div class="modal-body">
                Delete {{movie.name ? movie.name : movie.id}}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="delete()">
                    <span class="glyphicon glyphicon-trash"></span>
                    Delete
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
