<form class="form-horizontal">

    <div class="form-group">
        <label class="col-sm-2 control-label">Cover</label>
        <div class="col-sm-8">
            <div class="btn-group" uib-dropdown>
                <button id="button-template-url" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                    <img class="jamm-image-square-thumbnail" ng-src="{{getCoverUrl(movie)}}"/>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu list-inline" uib-dropdown-menu>
                    <li ng-repeat="image in mediaInfo.images track by image.name">
                        <a href="javascript:;" ng-click="movie.storage.cover=image.name"><img class="jamm-image-square-thumbnail" ng-src="{{image.src}}"/></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-2 control-label">ID</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="movie._id"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="movie.name"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Actors</label>
        <div class="col-sm-5">

            <div ng-model="movie.actors" as-sortable>
                <div ng-repeat="actor in movie.actors track by actor.name" as-sortable-item>
                    <div class="input-group jamm-form-group">
                        <div class="input-group-addon" as-sortable-item-handle><span class="glyphicon glyphicon-move"></span></div>
                        <input type="text" class="form-control" ng-model="actor.name"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="movie.actors.splice($index, 1)"><span class="glyphicon glyphicon-remove"></span></button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="input-group jamm-form-group">
                <input type="text" class="form-control" placeholder="add more..." ng-model="newActor"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-disabled="!newActor" ng-click="movie.actors.push({'name': newActor}); newActor = ''"><span class="glyphicon glyphicon-plus-sign"></span></button>
                </span>
            </div>

        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-2 control-label">Release date</label>
        <div class="col-sm-4">
            <date-time-picker ng-model="movie.releaseDate"></date-time-picker>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-2 control-label">Rating</label>
        <div class="col-sm-8">
            <span class="jamm-rating-large"><uib-rating ng-model="movie.rating" max="3"></uib-rating></span>
        </div>
    </div>

    <div class="jamm-vertical-spacer"/>

    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-8">
            <button class="btn btn-default btn-primary" ng-click="save()" ng-disabled="originalMovie && !isModified" type="button">
                <span class="glyphicon glyphicon-ok"></span>
                Save
            </button>
            <div class="jamm-btn-group-spacer"/>
            <button class="btn btn-default" ng-click="discard()" ng-if="originalMovie" ng-disabled="!isModified" type="button">
                <span class="glyphicon glyphicon-remove"></span>
                Discard
            </button>
            <button class="btn btn-default" ng-click="cancel()" ng-if="!originalMovie" type="button">
                <span class="glyphicon glyphicon-remove"></span>
                Cancel
            </button>
            <div class="jamm-btn-group-spacer"/>
            <button class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal" ng-if="originalMovie" type="button">
                <span class="glyphicon glyphicon-trash"></span>
                Delete
            </button>
        </div>
    </div>
</form>
