<nav-bar></nav-bar>

<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a ui-sref="movies">Movies</a></li>
        <li class="active">{{movie.id}}</li>
    </ol>
</div>

<div class="container">

<div>

    <ul class="nav nav-tabs">
        <li>
            <a href="javascript:;" data-target="#videos" data-toggle="tab">
                Videos
            </a>
        </li>
        <li class="active">
            <a href="javascript:;" data-target="#images" data-toggle="tab">
                Images
            </a>
        </li>
    </ul>

    <div class="tab-content jamm-tab-content-border">
        <div role="tabpanel" class="tab-pane" id="videos">
            <video controls preload="auto">
                <source src="media/手紙~Angela Aki~獻給未來的你~_(480p).mp4" type="video/mp4">
            </video>
        </div>
        <div role="tabpanel" class="tab-pane active" id="images">
            <img src="media/cover.jpg"/>
        </div>
    </div>

    <div class="jamm-vertical-spacer"></div>

    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Information</h3></div>
        <div class="panel-body">
            <form class="form-horizontal">

                <div class="form-group">
                    <label class="col-sm-2 control-label">ID</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="movie.id"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="movie.name"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Actors</label>
                    <div class="col-sm-5">

                        <div class="input-group jamm-form-group">
                            <input type="text" class="form-control" ng-model="actor"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus-sign"></span></button>
                            </span>
                        </div>

                        <div ui-sortable ng-model="movie.actors">
                            <div class="input-group jamm-form-group" ng-repeat="actor in movie.actors">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-move"></span></div>
                                <input type="text" class="form-control" ng-model="actor"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">Release date</label>
                    <div class="col-sm-3">
                        <input type="date" class="form-control" ng-model="movie.dateReleased"/>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">Rating</label>
                    <div class="col-sm-8">
                        <rating ng-model="movie.rating" max="3"></rating>
                    </div>
                </div>
                
            </form>
        </div>
    </div>

</div>