<div ng-if="style == 'full'">
    <p ng-repeat="filterTemplate in filterTemplates">
        <label class="control-label">{{filterTemplate.name}}: </label>
        <a href="javascript:;" ng-repeat-start="option in statistics[filterTemplate.name] | orderBy:'key'" ng-click="toggleFilterOption(filterTemplate.name, option.key)"><span ng-class="isFilterOptionSelected(filterTemplate.name, option.key) ? 'label label-primary' : ''">{{option.key}} ({{option.count}})</a>
        <span ng-repeat-end ng-if="!$last"> | </span>
        <span ng-if="statistics[filterTemplate.name].length == 0"><i>no data</i></span>
    </p>
    <a href="javascript:;" ng-click="resetFilters()">Reset filters</a>
</div>
<div ng-if="style == 'brief'">
    <label class="control-label">Filter(s): </label>
    <span ng-repeat="filterTemplate in filterTemplates" ng-if="filterSet[filterTemplate.name]">
        <span ng-repeat="option in filterSet[filterTemplate.name]">
            <span class="label label-primary">{{option}}</span>
        </span>
    </span>
</div>