<div class="container">
    <div class="row">

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <div class="form-group">
                            <div class="btn-group" style="margin-right: 0.5em;">
                                <a href="javascript:;" class="btn btn-sm btn-default" ng-class="showImported ? '' : 'active'" ng-click="showImported = false">Show new</a>
                                <a href="javascript:;" class="btn btn-sm btn-default" ng-class="showImported ? 'active' : ''" ng-click="showImported = true">Show all</a>
                            </div>
                            <button class="btn btn-sm btn-default" ng-click="loadVolumeFiles()"><span class="glyphicon glyphicon-refresh"></span></button>
                            <button class="btn btn-sm btn-default" ng-click="showEditVolumeModal()"><span class="glyphicon glyphicon-cog"></span></button>
                        </div>
                    </div>
                    <treecontrol class="tree-light jamm-treecontrol-userselectable"
                        tree-model="showImported ? volumeFiles : newFileNodes"
                        on-node-toggle="showToggle(node, expanded, $parentNode, $index, $first, $middle, $last, $odd, $even)"
                        on-selection="showSelected(node, selected)">
                        <span style="color: steelblue;" ng-if="importedPaths.indexOf(node.info.path) == -1">{{node.info.name}}</span>
                        <span style="color: black;" ng-if="importedPaths.indexOf(node.info.path) > -1">{{node.info.name}}</span>
                    </treecontrol>
                </div>
            </div>
        </div>

        <div class="col-md-8" ng-if="mediaInfo">
            <div class="panel panel-default">
                <div class="panel-body">

                    <section>
                        <h3><span class="glyphicon glyphicon-folder-open"></span> {{selectedPath}}</h3>
                    </section>

                    <section ng-if="mediaInfo && mediaInfo.videos.length">
                        <h4>Videos</h4>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Resolution</th>
                                    <th>Length</th>
                                    <th>Size</th>
                                </tr>
                            </thead>
                            <tbody class="jamm-cursor-pointer">
                                <tr ng-repeat="video in mediaInfo.videos track by video.name" ng-click="previewVideo(video.src)">
                                    <td>{{video.name}}</td>
                                    <td>{{video.resolution}}</td>
                                    <td>{{video.length | formatDuration}}</td>
                                    <td>{{video.size | formatByte}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>

                    <section ng-if="mediaInfo && mediaInfo.images.length">
                        <h4>Images</h4>
                        <div jamm-photoswipe-gallery>
                            <span ng-repeat="image in mediaInfo.images track by image.name">
                                <a href="javascript:;" jamm-photoswipe-image="{{image.src}}"><img class="jamm-image-square-thumbnail" ng-src="{{image.src}}"/></a>
                            </span>
                        </div>
                        <div class="jamm-vertical-spacer"></div>
                    </section>

                    <section ng-if="mediaInfo && mediaInfo.others.length">
                        <h4>Others</h4>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Size</th>
                                </tr>
                            </thead>
                            <tbody class="jamm-cursor-pointer">
                                <tr ng-repeat="other in mediaInfo.others track by other.name">
                                    <td>{{other.name}}</td>
                                    <td>{{other.size | formatByte}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>

                    <section>
                        <div class="form-group">
                            <button class="btn btn-default btn-primary" ng-disabled="!mediaInfo.videos.length" ng-click="import()" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                                Import...
                            </button>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>
