<div class="container-fluid">
    <div class="row">

        <div class="col-md-4">

            <treecontrol class="tree-light jamm-treecontrol-userselectable"
                tree-model="volume.files"
                on-node-toggle="showToggle(volume._id, node, expanded, $parentNode, $index, $first, $middle, $last, $odd, $even)"
                on-selection="showSelected(node, selected)">
                <span style="color: steelblue;" ng-if="importedPaths.indexOf(node.path) == -1">{{node.name}}</span>
                <span style="color: black;" ng-if="importedPaths.indexOf(node.path) > -1">{{node.name}}</span>
            </treecontrol>

        </div>

        <div class="col-md-8" ng-if="mediaInfo">

            <section ng-if="mediaInfo && mediaInfo.videos.length">
                <h4>Videos</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Resolution</th>
                            <th>Length</th>
                            <th>Size</th>
                        </tr>
                    </thead>
                    <tbody class="jamm-cursor-pointer">
                        <tr ng-repeat="video in mediaInfo.videos track by video.name" ng-click="previewVideo(video.src)">
                            <td>{{video.name}}</td>
                            <td>{{video.resolution}}</td>
                            <td>{{video.length | formatDuration}}</td>
                            <td>{{video.size | formatByte}}</td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <section ng-if="mediaInfo && mediaInfo.images.length">
                <h4>Images</h4>
                <div jamm-photoswipe-gallery>
                    <span ng-repeat="image in mediaInfo.images track by image.name">
                        <a href="javascript:;" jamm-photoswipe-image="{{image.src}}"><img class="jamm-image-square-thumbnail" ng-src="{{image.src}}"/></a>
                    </span>
                </div>
                <div class="jamm-vertical-spacer"></div>
            </section>

            <section ng-if="mediaInfo && mediaInfo.others.length">
                <h4>Others</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Size</th>
                        </tr>
                    </thead>
                    <tbody class="jamm-cursor-pointer">
                        <tr ng-repeat="other in mediaInfo.others track by other.name">
                            <td>{{other.name}}</td>
                            <td>{{other.size | formatByte}}</td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <section>
                <div class="form-group">
                    <button class="btn btn-default btn-primary" ng-disabled="!mediaInfo.videos.length" ng-click="import()" type="button">
                        <span class="glyphicon glyphicon-plus"></span>
                        Import...
                    </button>
                </div>
            </section>
        </div>
    </div>
</div>