<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li class="active">Import</li>
    </ol>
</div>

<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body media">
                <div class="media-body">
                    <span ng-repeat="volume in volumes">
                        <div ng-if="volumePieCharts[volume._id]" style="width: 8em; height: 8em; display: inline-block;">
                            <pie-chart data="volumePieCharts[volume._id]" options="pieChartOptions"></pie-chart>
                        </div>
                    </span>
                </div>
                <div class="media-right media-bottom">
                    <button class="btn btn-default" ng-click="showAddVolumeModal({})">
                        <span class="glyphicon glyphicon-plus"></span>
                        Add volume...
                    </button>
                </div>
            </div>
        </div>

        <uib-accordion>
            <uib-accordion-group ng-repeat="volume in volumes" is-open="$first">
                <uib-accordion-heading>
                    <span class="glyphicon glyphicon-hdd"></span> {{volume.name}}
                    <a href="javascript:;" ng-click="showAddVolumeModal(volume); $event.stopPropagation();" class="pull-right">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </uib-accordion-heading>
                <import-from-volume volume="{{volume}}"></import-from-volume>
            </uib-accordion-group>
        </uib-accordion>

    </div>
</div>


<script type="text/ng-template" id="movie-info-modal-template">
    <div class="modal-header">
        <h4 class='modal-title'>Import</h4>
    </div>
    <div class="modal-body">
        <movie-detail-form ng-model="movie" media-info="mediaInfo"></movie-detail-form>
    <div>
    <div class="modal-footer">
        <button class="btn btn-default btn-primary" ng-click="save()" type="button">
            <span class="glyphicon glyphicon-ok"></span>
            Save
        </button>
        <button class="btn btn-default" ng-click="cancel()" type="button">
            <span class="glyphicon glyphicon-remove"></span>
            Cancel
        </button>
    </div>
</script>


<script type="text/ng-template" id="movie-preview-modal-template">
    <div class="modal-header">
        <h4 class="modal-title">Preview</h4>
    </div>
    <div class="modal-body">
        <video id="videoPlayer" class="video-js vjs-default-skin" ng-init="initPlayer()" controls preload="auto">
        </video>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="dismiss()">Dismiss</button>
    </div>
</script>


<script type="text/ng-template" id="edit-volume-template">
    <div class="modal-header">
        <h4 class="modal-title" ng-if="isNew">Add volume</h4>
        <h4 class="modal-title" ng-if="!isNew">Volume</h4>
    </div>
    <div class="modal-body">
       <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="volume.name"/>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Path</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="volume.path"/>
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="save()" ng-disabled="!isModified">Save</button>
        <button class="btn btn-danger" type="button" ng-click="delete()" ng-if="!isNew">Delete</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
