body {
    background: #fff;
}

html {
    /* prevent screen from shifting left and right when modal show/hide */
    overflow-y: scroll; 
}

.jamn-thumbnail {
}

.jamn-thumbnail h5 {
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0.5em;
}

.jamn-thumbnail .list-inline {
    margin-bottom: 0px;
}

.jamn-thumbnail:hover {
    border-color: #37A7FF;
}

.jamm-btn-group-spacer {
    display: inline-block;
    width: 1em;
}

.jamm-vertical-spacer { 
    margin: 0; padding:0; height:1.5em;
}

.jamm-text-list-seperator {
    margin-bottom: 0.25em;
}

.jamm-text-clear-button {
    z-index: 3;
    color: lightgrey;
    pointer-events: auto;
    cursor: pointer;
}

.jamm-img-table-row {
    max-height: 3em;
}

.jamm-cursor-pointer tr {
    cursor: pointer;
}

.jamm-table-no-bottom-margin {
    margin-bottom: 0;
}

.jamm-tab-content-border {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 1em;
}

.jamm-form-group-inline-block {
    display: inline-block;
    margin-left: 0em;
    margin-right: 1em;
}

img.jamm-image-square-thumbnail {
    height: 4em;
    width: 4em;
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    margin-right: 0.5em;
    background-color: LightGray;
}

.jamm-rating-large {
    font-size: 1.5em;
    line-height: 1.75em;
    color: #555;
}

.jamm-rating-small {
    font-size: 0.5em;
    letter-spacing: -0.2em;
    color: #555;
}

tags-input .tags .tag-item {
    color: black;
    background: LightGray;
    border-width: 0;
}

tags-input .tags .tag-item.selected {
    color: white;
    background: steelblue;
    border-width: 0;
}

tags-input .tags .tag-item.selected .remove-button {
    color: white;
}

/* Hide mediaelement player loading overlay */
.mejs-overlay-loading {
    display: none;
}

/* Hide focus outline for mediaelement play time slider */
.mejs-time-slider:focus {
    outline: none;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  transition: all ease-out 0.25s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
  /*max-height: 0px;*/
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
  /*max-height: 9999px;*/
}

.footer {
    height: 3em;
}
