<nav-bar></nav-bar>

<div class="container-fluid">
    
    <ol class="breadcrumb">
        <li><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li class="active">Movies</li>
    </ol>
</div>

<div>

    <div class="text-center form-inline">
        <div class="form-group">
            <div class="btn-group jamm-form-group">
                <label class="btn btn-default" ng-class="displayStyle == 'thumbnail' ? 'active' : ''" ng-click="displayStyle = 'thumbnail'">
                    <span class="glyphicon glyphicon-th"></span>
                    Thumbnail
                </label>
                <label class="btn btn-default" ng-class="displayStyle == 'list' ? 'active' : ''" ng-click="displayStyle = 'list'">
                    <span class="glyphicon glyphicon-th-list"></span>
                    List
                </label>
            </div>
        </div>

        <div class="jamm-btn-group-spacer"></div>

        <div class="form-group">
            <div class="btn-group jamm-form-group" uib-dropdown is-open="status.isopen">
                <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                    Sort by: &nbsp;<span class="glyphicon glyphicon-calendar"></span> Release date, asc. <span class="caret"></span>
                </button>
                <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem" ng-click="sortParam.field = 'id'">
                        <a>
                            <span class="glyphicon glyphicon-text-background"></span>
                            Movie ID
                            <span class="pull-right glyphicon glyphicon-ok-circle" ng-if="sortParam.field == 'id'"></span>
                        </a>
                    </li>
                    <li role="menuitem" ng-click="sortParam.field = 'name'">
                        <a>
                            <span class="glyphicon glyphicon-text-background"></span>
                            Movie name
                            <span class="pull-right glyphicon glyphicon-ok-circle" ng-if="sortField == 'name'"></span>
                        </a>
                    </li>
                    <li role="menuitem" ng-click="sortParam.field = 'releaseDate'">
                        <a>
                            <span class="glyphicon glyphicon-calendar"></span>
                            Release date
                            <span class="pull-right glyphicon glyphicon-ok-circle" ng-if="sortParam.field == 'releaseDate'"></span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li role="menuitem" ng-click="sortParam.reversed = false">
                        <a>
                            <span class="glyphicon glyphicon-sort-by-attributes"></span>
                            Ascending
                            <span class="pull-right glyphicon glyphicon-ok-circle" ng-show="sortParam.reversed == false"></span>
                        </a>
                    </li>
                    <li role="menuitem" ng-click="sortParam.reversed = true">
                        <a>
                            <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                            Descending
                            <span class="pull-right glyphicon glyphicon-ok-circle" ng-show="sortParam.reversed == true"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="jamm-btn-group-spacer"></div>

        <div class="form-group">
            <div class="input-group jamm-form-group">
                <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
                <input type="text" class="form-control search-query" ng-model="searchString"/>
            </div>
        </div>

    </div>

    <div class="container-fluid" ng-if="displayStyle == 'thumbnail'">
        <div class="row-fluid">
            <div ng-repeat-start="movie in movies | filter:searchString | orderBy:sortParam.field:sortParam.reversed" class="col-sm-3 col-md-3 col-lg-2">
                <a ui-sref="movies/detail({id: movie.id})">
                    <cover-thumbnail movie="movie"></cover-thumbnail>
                </a>
            </div>
            <div class="clearfix visible-sm" ng-if="$index % 4 == 3"></div>
            <div class="clearfix visible-md" ng-if="$index % 4 == 3"></div>
            <div class="clearfix visible-lg" ng-if="$index % 6 == 5"></div>
            <div ng-repeat-end=""></div>
        </div>
    </div>

    <!-- <div class="table-responsive"> -->
    <div class="container-fluid">
        <table class="table table-hover" ng-if="displayStyle == 'list'">
            <thead>
                <tr>
                    <th><!-- thumbnail --></th>
                    <th>
                        <table-header-sortable field-name="id" sort-param="sortParam">ID</table-header-sortable>
                    </th>
                    <th>
                        <table-header-sortable field-name="name" sort-param="sortParam">Name</table-header-sortable>
                    </th>
                    <th>
                        Actors
                    </th>
                    <th>
                        <table-header-sortable field-name="releaseDate" sort-param="sortParam">Release date</table-header-sortable>
                    </th>
                </tr>
            </thead>
            <tbody class="jamm-table-row">
                <tr ng-repeat="movie in movies | filter:searchString | orderBy:sortParam.field:sortParam.reversed" ui-sref="movies/detail({id: movie.id})">
                    <td><img class="img-responsive center-block jamm-img-table-row" src="media/cover.jpg"/></td>
                    <td>{{movie.id}}</td>
                    <td>{{movie.name}}</td>
                    <td>
                        <span ng-repeat-start="actor in movie.actors">{{actor}}</span><span ng-repeat-end ng-if="!($last)">, </span>
                    </td>
                    <td>{{movie.releaseDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- </div> -->

</div>