<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li class="active">Movies</li>
    </ol>
</div>

<div class="container-fluid">

    <div class="row-fluid">
        <div class="panel-body" style="background-color: #f5f5f5;">
            <div class="form-inline">
                <div class="jamm-form-group-inline-block">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="btn-group">
                                <label class="btn btn-default" ng-class="displayStyle == 'thumbnail' ? 'active' : ''" ng-click="displayStyle = 'thumbnail'">
                                    <span class="glyphicon glyphicon-th"></span>
                                    <span class="hidden-xs">Thumbnail</span>
                                </label>
                                <label class="btn btn-default" ng-class="displayStyle == 'list' ? 'active' : ''" ng-click="displayStyle = 'list'">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    <span class="hidden-xs">List</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="jamm-form-group-inline-block">
                    <div class="form-group input-group">
                        <div class="">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-sort"></span></span>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-disabled="disabled" style="width: 9em;">
                                    {{sortDescription}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li role="menuitem" ng-click="sortParam = { field: 'releaseDate', reversed: true }">
                                        <a>Latest</a>
                                    </li>
                                    <li role="menuitem" ng-click="sortParam = { field: 'releaseDate', reversed: false }">
                                        <a>Earliest</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="menuitem" ng-click="sortParam = { field: 'rating', reversed: true }">
                                        <a>Highest rated</a>
                                    </li>
                                    <li role="menuitem" ng-click="sortParam = { field: 'rating', reversed: false }">
                                        <a>Lowest rated</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="menuitem" ng-click="sortParam = { field: 'name', reversed: false }">
                                        <a>Sort by name</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pull-right">
                    <div class="jamm-form-group-inline-block">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
                                <input type="text" class="form-control" ng-model="searchString"/>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-default" ng-class="showFilter ? 'active' : ''" ng-click="showFilter = !showFilter">
                        Filters
                        <span ng-if="!showFilter" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-if="showFilter" class="glyphicon glyphicon-chevron-up"></span>
                    </button>
                </div>
            </div>
            <div style="padding-top: 1em;" ng-show="showFilter || isFilterDefined(filters)">
                <jamm-faceted-search style="showFilter ? 'full' : 'brief'" filter-templates="filterTemplates" filters="filters" statistics="statistics"></jamm-faceted-search>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <jamm-pager page-count="pageCount" current-page="currentPage" set-page="setPage(newPage)"></jamm-pager>
    </div>

    <div class="row-fluid" ng-if="displayStyle == 'thumbnail'">
        <div ng-repeat-start="movie in filteredMovies | filter:searchString | orderBy:['!!'+sortParam.field, sortParam.field]:sortParam.reversed | limitTo:pageSize:(currentPage * pageSize) track by movie._id" class="col-sm-3 col-md-2 col-lg-2">
            <a ui-sref="movies.detail({id: movie._id})">
                <cover-thumbnail movie="movie" image="getCoverUrl(movie)"></cover-thumbnail>
            </a>
        </div>
        <div class="clearfix visible-sm" ng-if="$index % 4 == 3 || $last"></div>
        <div class="clearfix visible-md" ng-if="$index % 6 == 5 || $last"></div>
        <div class="clearfix visible-lg" ng-if="$index % 6 == 5 || $last"></div>
        <div ng-repeat-end=""></div>
    </div>

    <div class="row-fluid">
        <table class="table table-hover" ng-if="displayStyle == 'list'">
            <thead>
                <tr>
                    <th><!-- thumbnail --></th>
                    <th>
                        <table-header-sortable field-name="name" sort-param="sortParam">Name</table-header-sortable>
                    </th>
                    <th>
                        Subheading
                    </th>
                    <th>
                        Actors
                    </th>
                    <th>
                        <table-header-sortable field-name="releaseDate" sort-param="sortParam">Release date</table-header-sortable>
                    </th>
                    <th>
                        <table-header-sortable field-name="rating" sort-param="sortParam">Rating</table-header-sortable>
                    </th>
                </tr>
            </thead>
            <tbody class="jamm-cursor-pointer">
                <tr ng-repeat="movie in filteredMovies | filter:searchString | orderBy:['!!'+sortParam.field, sortParam.field]:sortParam.reversed | limitTo:pageSize:(currentPage * pageSize) track by movie._id" ui-sref="movies.detail({id: movie._id})">
                    <td><img class="img-responsive center-block jamm-img-table-row" ng-if="movie.storage.cover" ng-src="{{getCoverUrl(movie)}}"/></td>
                    <td>{{movie.name}}</td>
                    <td>{{movie.subheading}}</td>
                    <td>
                        <span ng-repeat-start="actor in movie.actors">{{actor.name}}</span><span ng-repeat-end ng-if="!($last)">, </span>
                    </td>
                    <td>{{movie.releaseDate}}</td>
                    <td><uib-rating ng-model="movie.rating" max="5" readonly="true" style="white-space: nowrap"></uib-rating></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row-fluid">
        <jamm-pager page-count="pageCount" current-page="currentPage" set-page="setPage(newPage)"></jamm-pager>
    </div>

</div>
